<div class="container">
	<div class="text-center m-5">
    <h1>U S U A R I O S</h1>
  </div>
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-block">
                    <div class="table-overflow">
                        <table class="table table-lg table-hover">
                            <thead class="text-center bg-blue">
                                <tr>
                                    <th>Usuario</th>
                                    <th>Nombres</th>
                                    <th>Apellido</th>
                                    <th>Rol</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody class="text-center" *ngFor="let user of users; index as i">
                                <tr>
                                    <td>
                                        <div class="relative mrg-top-15">
                                            <span class="pdd-left-20">{{user.username}}</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="relative mrg-top-15">
                                            <span class="pdd-left-20">{{user.first_name}}</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="relative mrg-top-15">
                                            <span class="pdd-left-20">{{user.last_name}}</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="relative mrg-top-15">
                                            <span *ngIf="user.role == 0" class="pdd-left-20">Administrador</span>
                                            <span *ngIf="user.role == 1" class="pdd-left-20">Especialista</span>
                                            <span *ngIf="user.role == 2" class="pdd-left-20">Estudiante</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="dropdown">
                                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <li><a class="dropdown-item" (click)="deleteModel(modelo.id)">Editar</a></li>
                                                <li><a class="dropdown-item" (click)="deleteModel(modelo.id)">Eliminar</a></li>
                                            </ul>
                                          </div>
                                    </td>
                                </tr>
                              </tbody>
                        </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
