<div class="container">
	<div class="text-center m-5">
    <h1>M O D E L O S</h1>
  </div>
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-block">
                    <div class="table-overflow">
                        <table class="table table-lg table-hover">
                            <thead class="text-center bg-blue">
                                <tr>
                                    <th>Nombre del Modelo</th>
                                    <th>Usuario</th>
                                    <th>Estado</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody class="text-center" *ngFor="let modelo of modelos; index as i">
                                <tr>
                                    <td>
                                        <div class="relative mrg-top-15">
                                            <span class="pdd-left-20">{{modelo.path.split("/")[6].split(".")[0]}}</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="mrg-top-15">
                                            <!---<span>{{users[modelo.user]}}</span> --->
                                            <span>{{modelo.user}}</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="mrg-top-15">
                                            <span *ngIf="modelo.is_active">Activo</span>
                                            <span *ngIf="!modelo.is_active">Inactivo</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="dropdown">
                                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                              <li><a *ngIf="!modelo.is_active" class="dropdown-item" (click)="updateStatus(modelo.id, i, true)">Activar</a></li>
                                              <li><a *ngIf="modelo.is_active" class="dropdown-item" (click)="updateStatus(modelo.id, i, false)">Desactivar</a></li>
                                              <li><a class="dropdown-item" (click)="deleteModel(modelo.id)">Eliminar</a></li>
                                            </ul>
                                          </div>
                                    </td>
                                </tr>
                              </tbody>
                        </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
