<div class="container">
	<div class="text-center m-5">
    <h1>I M Á G E N E S</h1>
  </div>

	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-block">
                    <div class="table-overflow">
                        <table class="table table-lg table-hover">
                            <thead class="text-center bg-blue">
                                <tr>
                                    <th>Nombre de Imagen</th>
                                    <th>Usuario</th>
                                    <th>Tipo</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody class="text-center" *ngFor="let image of images; index as i">
                                <tr>
                                    <td>
                                        <div class="relative mrg-top-15">
                                            <span class="pdd-left-20">{{image.path.split("/")[7]}}</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="mrg-top-15">
                                            <!---<span>{{users[modelo.user]}}</span> --->
                                            <span>{{image.user}}</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="mrg-top-15">
                                            <span *ngIf="image.type == 1">T1</span>
                                            <span *ngIf="image.type == 2">T2</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="dropdown">
                                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                              <li><a class="dropdown-item" (click)="downloadImage(image.id)">Descargar</a></li>
                                            </ul>
                                          </div>
                                    </td>
                                </tr>
                              </tbody>
                        </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
